<p style="font-size:3em; line-height:2em; margin-top:20px;padding-bottom:20px;text-align:center; ">Listing Messages</h1>

<table>
  <tr>
    <th>Sender</th>
	<th>Recipient</th>
	<th>Message #</th>
  </tr>

<% @messages.each do |f| %>

  <tr>
	<td><%=f.sender_id%></td>
	<td><%=f.recipient_id%></td>
	<td><%=f.id%></td>
  </tr>

<% end %>

</table>
