<!-- This page is for an admin to edit a blog post, either a VVI post or an article -->
<%= javascript_include_tag "/assets/jquery.js"%>
<style>
.editPageTitle{
	font-size:2.5em;
	color:#575758;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	float:center;
}
</style>
<p class="editPageTitle">Edit Blog Post</p>

<%= render :partial => 'form' %>