<!-- This is the blog_post show page. It shows one blog post, 
		whether it be a VVI post or an article post -->

<%= javascript_include_tag "/assets/jquery.js"%>

<style>
	#headding { /* container for "< Back to Blog" message at top */
		margin-top:10px;
	}
	#link { /* container for link that returns user to VVI blog */
		float:left;
	}
</style>

<div class="container">
	<div class="row">
		<div class="twelve columns" id="headding">
			<!-- "< Back to Blog" link -->
			<p id="link">	
				<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/backToBlog.png"), "/blog_posts" %>
			</p><!-- end Back to Blog link -->
		</div>
		<div class="twelve columns">
			<%= render :object => @blog_post, :partial => 'blog_posts/blog_post', :locals => {:show_comments => true} %>
		</div>
	</div>
</div>