<%= javascript_include_tag "/assets/jquery.js"%>
<p style="font-size:3em; line-height:2em; margin-top:20px; margin-bottom:20px; text-align:center">Editing program</p>
<div align="center" class="eight columns" style="margin-bottom:40px; margin-left:225px; margin-right:225px">
<p style="color:red"> Make sure that, in all of the big text boxes, you remove all html tags and redo your formatting with the redcloth/textile format provided below</p><br />

<p style="color:red; font-weight:600"> ***you MUST reselect program length AND group size***</p>
</div>

<%= render 'form' %>


