<%= javascript_include_tag "/assets/jquery.js"%>


<p style="font-size:3em; line-height:2em; margin-top:20px; margin-bottom:20px; text-align:center">Editing program</p>

</div>



<%= render 'form' %>
