<p style="font-size:3em; line-height:2em; margin-top:20px; margin-bottom:20px; text-align:center">New program</p>
<div align="center" class="eight columns" style="margin-bottom:40px; margin-left:225px; margin-right:225px">
<p style="font-size:1.2em;">Please note that formatting will not keep in the text boxes. For example, line breaks (new line/enter). They will disappear on the program page</p>
</div>

<%= render 'form' %>