	<%= javascript_include_tag "/assets/jquery.js"%>
	<% @id = current_user.id unless current_user.nil?%>
	<div class="container">
		<div class="row">
			<div class="twelve columns" align="center" style="font-size:2em">
	
	You are unsubscribed!<br /><br />
	
	Some feedback would be really helpful - <br /><br />
	<% @contact = Contact.new(:subject => "Subscription Termination Feedback (org)", :to_whom => "contact", :user_id => @id)%>
	<%= form_for(@contact) do |f| %>
	    <div class="field">
	      <%= f.text_area :body, :style => "height:200px; width:500px" %>
	    </div>

	    <p style="text-align:center"><%= image_submit_tag "/assets/sayIt.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></p>

	<% end %>
	
	</div>
</div>
</div>