<div class="container">
	<div class="row">
		<div class="twelve columns" style="margin-top:50px">
			<div class="three columns" style="float:left">
				<img src="/assets/awkward.png">
			</div>
			<div class="eight columns" style="float:left">
				<p style="margin-top:75px; font-family:museoSlab500Regular; color:#575758; font-size:3em; line-height:1.5em;">Please enable Javascript,<br /> &nbsp;&nbsp; our site is really<br />&nbsp;&nbsp; awkward without it.
			</div>
		</div>
	</div>
</div>