<%= javascript_include_tag "/assets/jquery.js"%>

<div class="container" style="color:#575758">
	<div class="row" style="margin:40px">
		<div class="eleven columns">

<p style="margin-bottom:50px">
<%= image_tag "/assets/privacyPolicy.png"%></p>

<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">1. Our Commitment To Privacy</p>
<ul class="circle">
	
<li>At VolunteerVoice, your privacy is incredibly important to us.  This site is designed to maintain certain levels of anonymity according to the comfort level of our users, due to the personal nature of the information being shared.  A solid relationship of trust between VolunteerVoice and its users is essential to the mission and functioning of our site.  This privacy policy is designed to help users and organizations better understand our website’s security practices.</li></ul><br />

<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">2. Your Personal Information</p>
<ul class="circle">
<li>VolunteerVoice uses both personally identifiable information (should you register) and not personally identifiable information (IP address, site activity) in order to better understand and cater to its users.  Your level of interaction with the site is your choice.</li>
<li>
Non-Account Activity
<ul class="circle">
	<li>
It is not necessary to register your email or personal information in order to access company profiles, search for programs, or browse reviews.  Those services are open to all visitors.</li>
<li>Whether you are a registered user or not, VolunteerVoice keeps track of your usage information (profiles you visit, articles you read) and IP address, for the sake of better understanding our users and improving the site for them.</li>
</ul>
</li>
<li>
Account-Related Activity
<ul class="circle">
	<li>
In order to fully utilize VolunteerVoice’s services (write reviews, post comments/questions to other users, upload photos, view other user profiles), users must register and create a free personal profile.  Creating a personal profile does require some personal information, such as your email address, a password, and a birthdate.  This information is required in order to understand and monitor our users in a productive way. </li>
<li>Other informational requirements apply when writing a review or posting a comment, such as confirming if you have/have not worked with a company, what country you worked in, and for how long.  We ask for confirmation of experience with a company to better ensure quality of review information for all users. </li> 
<li>One of VolunteerVoice functions is a social networking site, allowing users to view one another’s profile information in order to start valuable conversations about places/topics of interest.  Users decide in their Profile Privacy Settings whether their own reviews, trips, comments, or personal information is made visible to other logged on members.  These settings may be changed by the user at any time.</li>
<li>Comfortable anonymity is an important function of VolunteerVoice’s site, and for this reason we keep no log of full names for users, but rather require all account users create a “user name” of their choice. </li> 
<li>When writing reviews, Users are allowed the option of posting photographs of their experiences abroad.  VolunteerVoice may monitor and view these photos to both make sure that they are appropriate and relevant, and also in search of new photos to feature on the home page.  If VolunteerVoice wants to use your photo, they will contact you first and request permission.  Understand the this is a formality, and if you post photos on the site then they become public domain.  Still, if you for any reason decide that you don’t want your photos on the home page, and you contact us saying so explicitly, we will not use them.</li>
</ul>
</li>
<li>  
Your Choices
<ul class="circle">
	<li>
While VolunteerVoice does require personal information for registry, users may still choose what further personal information to include in their profile (such as country of origin) and they may also choose what information (if any) is made visible to other site users.  Users determine their own levels of privacy.</li>
<li>If you are uncomfortable providing personal information to our site, you may enjoy that site’s services as a guest user.  </li>
<li>As a registered user, you enjoy the most functions on this site, including a track log of all reviews, comments, favorite organizations, and user messaging system.  Users have complete control over how much of this information is made visible to other users, if any, through you Account Settings on your profile page.</li>
</ul>
</li></ul><br />

<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">3. How VolunteerVoice Uses Your Information</p>
	<ul class="circle">
If users submit personal information to VolunteerVoice through our site, we utilize that information to improve upon our site’s functionality, content, and and services. Your information and feedback helps us to better understand our users, and thus how to optimize our features for them.</li>
<li>If an unregistered user visits the site and utilizes guest user resources, VolunteerVoice keeps track of which profiles are read and which resources are utilized.  VolunteerVoice also keeps track of all IP addresses, browser types, related information, requesting URL, referring URL, and timestamps in order to monitor the amount of unique users that it receives for tracking and advertising purposes.</li>
<li>We record and use all reviews and ratings that are submitted to our site.</li>
<li>If you write a review about a new organization, VolunteerVoice uses the information that you submit to locate that organization and post a profile for it.</li>
<li>VolunteerVoice may use your email to send you important updates or information about our site.  If you send us a message, we will use the contact information that you provide us to return your message.</li>
<li>VolunteerVoice does sell, trade, or rent you personally identifiable information to any third-parties.  We may use some of your user information to collaborate with outside service providers about site use, modifications, and functions. </li></ul><br /> 


<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">4. Transfer Information</p>
<ul class="circle">
	<li>
VolunteerVoice gathers its information both from public domains and from direct contact with volunteer organizations.    Here at VolunteerVoice we do our very best to provide the most accurate information possible on the organizations that we list, however users must understand that they use our site AT THEIR OWN RISK, and that VolunteerVoice is not liable or responsible for the information that we post about these organizations.  We are always striving to update and maintain the utmost level of accuracy in our information, but as we all know, information changes often.  We thus rely upon both our team and our site’s users to help us maintain informational integrity, which is a constant process.</li></ul><br />


<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">5. Communication</p>
<ul class="circle">
	<li>
When you sign up to use the VolunteerVoice site and register an email with us, you are agreeing that we may contact you via that email address with important messages regarding significant changes or updates to the site.</li>
<li>When you maintain an active messaging system in your VolunteerVoice account, you are agreeing that VolunteerVoice may also contact you through the messaging system.  We certainly won’t flood your inbox with frivilous updates, but occassionally we would like to send you useful or fun information about site content or events. </li></ul><br /> 


<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">6. For Volunteer Organizations</p>
	<ul class="circle">
		<li>
Reviewing/Correcting Your Information
			<ul class="circle">
				<li>
We provide information to our users about volunteer organizations, and we try to keep that information as accurate as possible.  All of the information that we have on organizations is public information, and mostly provided by the organizations themselves through their websites.  We want this site to be a resource not just for prospective volunteers, but for organizations as well.  On our site, companies can find out what volunteers are saying (honestly) about their services, and use that information to maintain excellent services or to improve in any way they can.  We would appreciate any informational updates or resources that you feel should be included on our site to the benefit of its users.  </li>
</ul>
</li>
</ul>
<br />
<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">7. Cookies</p>
<ul class="circle">
	<li>
Cookies are used by VolunteerVoice to anonymously identify and monitor the different computers that are used to visit our website.  They are data files that contain the information needed to keep track of your User activity. We use these mechanisms to keep track of single user activity, and identify you as a single user versus multiple users. </li> 
<li>You may change your web browser settings to forbid the acceptance of cookies, but doing so will likely affect your ability to access and use this site.</li>
</ul><br />

 
<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">8. Links</p>
	<ul class="circle">
		<li>
VolunteerVoice contains many links to other websites, and as such is not responsible for guaranteeing or adhering to the privacy policies and practices of outside organizations. </li>
</ul>
<br />

<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">9. Third Party Access and Use</p>
<ul class="circle">
	<li>
VolunteerVoice may solicit work from outside sources that necessitates some degree of third-party access to your information.  Only parties working directly with VolunteerVoice will be allowed this access, and we will always be diligent in ensuring that this access is not abused.  In these events, we will take reasonable steps to protect your information and make sure third parties do not disclose it for other purposes.</li>
<li>
While we take all possible precautions here to protect your information as a user, we cannot guarantee that your user information will never be disclosed to any third parties, and it is important that you understand this, especially in regards to certain legal obligations that may come up.</li></ul><br />

<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">10. Changes to Policy</p>
<ul class="circle">
	<li>
Our User privacy and trust is very important to us.  You can always find the most recent updated version of our Privacy Policy right here on this page, with the date of change at the top.  Any changes to this policy will be made effective immediately upon being posted. </li>
</ul>
<br /> 
<p style="font-family:MuseoSlab500Regular; color:#9bce6c; font-size:2em; margin:20px;">11. Communication</p>
<ul class="circle">
	<li>
If you as a User or Organization have any questions regarding our practices or policies, contact us at: <br /><br />   

<%= mail_to "questions@volunteervoice.org" %>
</li>
</ul>
<br />

</div>
</div>
</div>