<head>
<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="/assets/mega-pull-out-menu-styles.css" media="all" />

</head>
<body>
<div class="container_custom">
  <div id="header">
        <div id="navigation">
      <ul>
        <li><span class="code-generator"><a href="index.php">Demo</a></span></li>
        <li><span class="code-generator"><a href="generator.php">Code Generator &amp; Menu Tester</a></span></li>
        <li><span class="code-generator"><a href="http://codecanyon.net/item/mega-pull-out-menu/188193?ref=WebFactory">Buy!</a></span></li>
      </ul>
      <div class="clear"></div>
    </div>
    <h1>Mega Pull Out Menu</h1>
    <p class="demo-description">
      <span>The menu you <b>need</b>! Even if you don't know it.</span>
    </p>
    <p class="features-title"><span>What is this?</span></p>
    <div class="row">
      <p class="plain-text">Mega Pull Out Menu is a <b>flexible</b>, <b>versatile</b> menu solution that enables you to put literally <b>any content</b>
      you want in a pull out menu positioned on left, or right screen border. Easy to use <b>code generator</b> guarantees you'll get the menu up &amp; running in no time.</p>
    </div>
    <p class="features-title"><span>Features</span></p>
    <div class="row">
      <ul class="features">
        <li><b>12 color themes</b> - we made sure you're all set to go without any customizations! If you need a custom theme there's only one (1) line of CSS to change.</li>
        <li><b>20 icons</b> - fun, functional and universal. Need more? No problem, read the details in the manual.</li>
        <li><b>code generator</b> - hate writing code? We feel ya! Use our <a href="code-generator.html">code generator</a> to create the menu of your dreams and copy/paste it to your page.</li>
        <li><b>total positioning control</b> - glue it on left or right screen edge and define top/bottom distance (in px or %).</li>
        <li><b>small, fast and versatile</b> - you can put a <b>horse</b> in this menu and it would still work. Yet, it fits in 3 kb.</li>
      </ul>
    </div>
  </div>
  <div id="tmp"></div> 
  
 <div id="footer">
  <div class="row">
  
  <p class="features-title"><span>More great products from <a href="http://codecanyon.net/user/webfactory?ref=WebFactory" target="_blank">WebFactory</a></span></p>
      
<ul class="more-items"><li><a title="Clean Admin - Super Simple Admin Template" href="http://themeforest.net/item/clean-admin-super-simple-admin-template/2260986?ref=WebFactory">Clean Admin - Super Simple Admin Template</a></li><li><a title="5sec PayPal Buttons" href="http://codecanyon.net/item/5sec-paypal-buttons/2128816?ref=WebFactory">5sec PayPal Buttons</a></li><li><a title="Login Ninja" href="http://codecanyon.net/item/login-ninja/1932728?ref=WebFactory">Login Ninja</a></li><li><a title="Epic Image Zoom for Drupal" href="http://codecanyon.net/item/epic-image-zoom-for-drupal/1804095?ref=WebFactory">Epic Image Zoom for Drupal</a></li><li><a title="5sec Content Scroller Widget" href="http://codecanyon.net/item/5sec-content-scroller-widget/1685988?ref=WebFactory">5sec Content Scroller Widget</a></li><li><a title="Jigoshop Random Product Widget" href="http://codecanyon.net/item/jigoshop-random-product-widget/1371096?ref=WebFactory">Jigoshop Random Product Widget</a></li><li><a title="WP e-Commerce Random Product Widget" href="http://codecanyon.net/item/wp-ecommerce-random-product-widget/1356772?ref=WebFactory">WP e-Commerce Random Product Widget</a></li><li><a title="5sec Validator" href="http://codecanyon.net/item/5sec-validator/1161815?ref=WebFactory">5sec Validator</a></li><li><a title="Organix - Simple Product Oriented Landing Page" href="http://themeforest.net/item/organix-simple-product-oriented-landing-page/967123?ref=WebFactory">Organix - Simple Product Oriented Landing Page</a></li><li><a title="5sec Snow" href="http://codecanyon.net/item/5sec-snow/851002?ref=WebFactory">5sec Snow</a></li><li><a title="Christmas Card" href="http://codecanyon.net/item/christmas-card/778752?ref=WebFactory">Christmas Card</a></li><li><a title="Christmas add-on for Fancy Text Widget" href="http://codecanyon.net/item/christmas-addon-for-fancy-text-widget/750096?ref=WebFactory">Christmas add-on for Fancy Text Widget</a></li><li><a title="Security Ninja" href="http://codecanyon.net/item/security-ninja/577696?ref=WebFactory">Security Ninja</a></li><li><a title="Spectaculous - Premium Landing Page" href="http://themeforest.net/item/spectaculous-premium-landing-page/559837?ref=WebFactory">Spectaculous - Premium Landing Page</a></li><li><a title="Image Sizes Manager" href="http://codecanyon.net/item/image-sizes-manager/309402?ref=WebFactory">Image Sizes Manager</a></li><li><a title="5sec Redirect" href="http://codecanyon.net/item/5sec-redirect/304325?ref=WebFactory">5sec Redirect</a></li><li><a title="Epic Image Zoom" href="http://codecanyon.net/item/epic-image-zoom/264395?ref=WebFactory">Epic Image Zoom</a></li><li><a title="Widget Ninja" href="http://codecanyon.net/item/widget-ninja/253159?ref=WebFactory">Widget Ninja</a></li><li><a title="Fancy Text Widget" href="http://codecanyon.net/item/fancy-text-widget/235344?ref=WebFactory">Fancy Text Widget</a></li></ul><ul class="more-items"><li><a title="5sec Proper 404" href="http://codecanyon.net/item/5sec-proper-404/233421?ref=WebFactory">5sec Proper 404</a></li><li><a title="5sec Category Search" href="http://codecanyon.net/item/5sec-category-search/231888?ref=WebFactory">5sec Category Search</a></li><li><a title="Health Point - Health Industry Landing Page" href="http://themeforest.net/item/health-point-health-industry-landing-page/224089?ref=WebFactory">Health Point - Health Industry Landing Page</a></li><li><a title="5sec Maintenance Mode" href="http://codecanyon.net/item/5sec-maintenance-mode/217881?ref=WebFactory">5sec Maintenance Mode</a></li><li><a title="Mega Pull Out Menu" href="http://codecanyon.net/item/mega-pull-out-menu/188193?ref=WebFactory">Mega Pull Out Menu</a></li><li><a title="Booster - Product Focused HTML5 Landing Page" href="http://themeforest.net/item/booster-product-focused-html5-landing-page/179207?ref=WebFactory">Booster - Product Focused HTML5 Landing Page</a></li><li><a title="5sec Link Remover - a membership extension plugin" href="http://codecanyon.net/item/5sec-link-remover-a-membership-extension-plugin/168902?ref=WebFactory">5sec Link Remover - a membership extension plugin</a></li><li><a title="Premium Featured Posts Slider" href="http://codecanyon.net/item/premium-featured-posts-slider/163255?ref=WebFactory">Premium Featured Posts Slider</a></li><li><a title="Hosting Company Landing Page" href="http://themeforest.net/item/hosting-company-landing-page/160311?ref=WebFactory">Hosting Company Landing Page</a></li><li><a title="5sec Run PHP" href="http://codecanyon.net/item/5sec-run-php/161343?ref=WebFactory">5sec Run PHP</a></li><li><a title="5sec Search Autocomplete" href="http://codecanyon.net/item/5sec-search-autocomplete/160225?ref=WebFactory">5sec Search Autocomplete</a></li><li><a title="Labelr - Ultimate Image Title Replacement Solution" href="http://codecanyon.net/item/labelr-ultimate-image-title-replacement-solution/158986?ref=WebFactory">Labelr - Ultimate Image Title Replacement Solution</a></li><li><a title="5sec Disable Formatting" href="http://codecanyon.net/item/5sec-disable-formatting/157858?ref=WebFactory">5sec Disable Formatting</a></li><li><a title="Pricelr! - Ultimate Pricing Tables Solution" href="http://codecanyon.net/item/pricelr-ultimate-pricing-tables-solution/157220?ref=WebFactory">Pricelr! - Ultimate Pricing Tables Solution</a></li><li><a title="5sec Who's Online" href="http://codecanyon.net/item/5sec-whos-online/156016?ref=WebFactory">5sec Who's Online</a></li><li><a title="5sec QR Codes" href="http://codecanyon.net/item/5sec-qr-codes/154873?ref=WebFactory">5sec QR Codes</a></li><li><a title="5sec Google Maps" href="http://codecanyon.net/item/5sec-google-maps/152372?ref=WebFactory">5sec Google Maps</a></li><li><a title="CSS style switcher" href="http://codecanyon.net/item/css-style-switcher/150156?ref=WebFactory">CSS style switcher</a></li></ul>   
  
    <p>Copyright (C) 2011. <a href="http://www.webfactoryltd.com/">Web factory Ltd.</a> <img class="right" src="images/_demo_only/webfactory-logo.png" alt="Web factory" title="Web factory" /></p>
  </div>
  </div>
</div>

<div class="annotation-left annot-1">3 paragraphs;<br />scrolls with content</div>
<div class="annotation-right annot-2">3 columns,<br />2 rows menu</div>
<div class="annotation-left annot-3">3 columns menu</div>
<div class="annotation-right annot-4">2 columns menu</div>
<div class="annotation-left annot-5">1 column menu</div>
<div class="annotation-right annot-6">contact form;<br />click to open</div>
<div class="annotation-left annot-7">simple menu;<br />fast slide</div>
<div class="annotation-right annot-8">social icons;<br />click to open</div>
<div class="annotation-left annot-9">article with text, image and title;<br />slow slide</div>
<div class="annotation-right annot-10">single image;<br />click to open</div>


<script src="/assets/mega-pull-out-menu-1.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
</body>
</html>