
	<link rel="stylesheet" href="/assets/screen.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/assetslightbox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

	<script src="/assets/jquery.smooth-scroll.min.js"></script>
	<script src="/assets/lightbox.js"></script>

	<script>
	  jQuery(document).ready(function($) {
	      $('a').smoothScroll({
	        speed: 1000,
	        easing: 'easeInOutCubic'
	      });
	  });

	</script>


<div class="section" id="example">

	<h3 style="clear: both;">Image set</h3>

  <div class="imageRow">
  	<div class="set">
  	  <div class="single first">
  		  <a href="/assets/image-3.jpg" rel="lightbox[plants]" title="Click on the right side of the image to move forward."><img src="/assets/thumb-3.jpg" alt="Plants: image 1 0f 4 thumb" /></a>
  		</div>
      <div class="single">
  		  <a href="/assets/image-4.jpg" rel="lightbox[plants]" title="Alternately you can press the right arrow key." ><img src="/assets/thumb-4.jpg" alt="Plants: image 2 0f 4 thumb" /></a>
      </div>
      <div class="single">
  		  <a href="/assets/image-5.jpg" rel="lightbox[plants]" title="The script preloads the next image in the set as you're viewing."><img src="/assets/thumb-5.jpg" alt="Plants: image 3 0f 4 thumb" /></a>
      </div>
      <div class="single last">
  		  <a href="/assets/image-6.jpg" rel="lightbox[plants]" title="Click the X or anywhere outside the image to close"><img src="/assets/thumb-6.jpg" alt="Plants: image 4 0f 4 thumb" /></a>
      </div>
  	</div>
  </div>
	
</div>


</div><!-- end #content -->
