
	<link rel="stylesheet" href="/assets/screen.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/assetslightbox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

	<script src="/assets/jquery.smooth-scroll.min.js"></script>
	<script src="/assets/lightbox.js"></script>

	<script>
	  jQuery(document).ready(function($) {
	      $('a').smoothScroll({
	        speed: 1000,
	        easing: 'easeInOutCubic'
	      });
	  });

	</script>

	
	
<div class="section" id="example">

  <div class="imageRow">
  	<div class="set">
	<% @photos.each do |photo| %>
  	  <div class="single">
  		  <a href="<%=photo.url%>" rel="lightbox[plants]"><img src="<%=photo.url%>" style="height:30px"/></a>
  	  </div>
    <% end %> 
  	</div>
  </div>
	
</div>


</div><!-- end #content -->

