<%= javascript_include_tag "/assets/jquery.js"%>

<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="twelve columns" style="text-align:center">

		<%= image_tag "/assets/ThanksFlag.png"%>
		
		<p style="margin-top:50px;font-family:museoSlab500Regular; color:#9bce6c; font-size:2em; line-height:1.2em">Thanks for bringing it to our attention.  We will assess this review to see if it is appropriate or not, and move on from there.</p>
		 
		
<div style="text-align:center; margin-top:75px">		
<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/logo.png"), root_path%>
</div>
</div>
</div>
</div>