		<%= javascript_include_tag "/assets/jquery.js"%>
		<style>
		.top {
			margin-top:20px; 
			padding-bottom:75px;
		}
		.errorBoxContainer {
			font-family:JosefinSlabRegular; 
			color:#575758; 
			font-size:1.5em; 
			margin-top:20px; 
			margin-bottom:30px; 
			line-height:1.3em;
		}
		.errorMessageContainer {
			text-align:center;
		}
		.vviLogoContainer {
			margin-top:30px;
		}
		.logoSubscript {
			font-size:.7em;
		}
		</style>
	<div class="container">
		<div class="row" class="top">
<div class="twelve columns" align="center" class="errorBoxContainer">
	<p class="errorMessageContainer"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/oops.png"></p><br />
	Sorry.  Our team of sloths are moving a little slower than usual.<br /> 
	Please be patient, it's not their fault.</div><br /><br />
<div align="center" class="vviLogoContainer"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/slothHand.jpg" class="height:400px">
	<p class="logoSubscript">Image courtesy of burkemuseum.org</p>
</div>
</div>
</div>
</div>
