

<p>
  <b>Body:</b>
  <%= @feedback.body.html_safe %>
</p>

<p>
  <b>User id:</b>
  <%= @feedback.user_id %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
