<h1>Listing mad_mimi_emails</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mad_mimi_emails.each do |mad_mimi_email| %>
  <tr>
    <td><%= link_to 'Show', mad_mimi_email %></td>
    <td><%= link_to 'Edit', edit_mad_mimi_email_path(mad_mimi_email) %></td>
    <td><%= link_to 'Destroy', mad_mimi_email, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mad mimi email', new_mad_mimi_email_path %>
