/*
Item Name : Pull out Menu
Author URI : http://codecanyon.net/user/WebFactory
Item URI :
Version : 1.0
*/

.pull-out ,.pull-out-button {
  background-image:url(/assets/mpum-overlay.png);
  background-position:0 0;
  background-repeat:repeat-x;
  -moz-border-radius:0 0 5px 0!important;
  -webkit-border-radius:0 0 5px 0!important;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  height:20px;
}

.pull-out-button {
  -moz-border-radius:0 5px 5px 0!important;
  -webkit-border-radius:0 5px 5px 0!important;
  margin-left:-1px;
  margin-top:-1px;
  position:relative;
  z-index:0;
  border:1px solid #ccc;
  border-left:0;
  height:20px;
}

.pull-out-right .pull-out-button {
  -moz-border-radius:5px 0 0 5px!important;
  -webkit-border-radius:5px 0 0 5px!important;
  margin-right:-1px;
  border:1px solid #ccc;
  border-right:0;
  height:20px;
}

.pull-out-right.pull-out {
  -moz-border-radius:0 0 0 5px!important;
  -webkit-border-radius:0 0 0 5px!important;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc!important;
  border-right:0;
  height:20px;
}

.pull-out-content {
  padding:20px;
}

.pull-out-content a {
  color:#fff;
  text-decoration:none;
  text-shadow:1px 1px #888
}

.pull-out-content a:hover {
  text-decoration:underline;
}

.pull-out-content li a {
  color:#000;
  text-decoration:none;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

.pull-out-content li a:hover {
  color:#fff;
  text-decoration:none;
  text-shadow:1px 1px #888
}

.pull-out-content p  {
  padding:0;
  margin:0 0 5px 0;
  font-size:12px
}

.pull-out-content ul {
  list-style:none;
  margin:0;
  padding:0;
}

.pull-out-content ul ul {
  list-style:none;
  margin:5px 10px 0 0;
  padding:12px 0 0 0;
  border-top:1px solid #000;
}

.pull-out-content ul li {
  margin:0 0 5px 0;
  padding:0;
  font-weight:bold;
  font-size:90%;
  vertical-align: top;
}

.pull-out-content ul ul li {
  margin:0 0 5px 0;
  padding:0;
  font-weight:normal;
  border-bottom:0;
}

.top-level-pull-out {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-level-pull-out li {
  display: inline-block;
  padding-left: 10px;
}

.pull-out-sub {
  margin: 0;
  padding: 0 0 0 15px;
}

.pull-out-sub li {
  display: block;
  float: none;
  padding: 0;
  margin: 0;
}


/* BLUE */
.pull-out.pull-out-blue ,.pull-out.pull-out-blue .pull-out-button {
  background-color:#71aaea;
}
/* MINIMAL */
.pull-out.pull-out-minimal ,.pull-out.pull-out-minimal .pull-out-button {
  background-color:#dddddd;
}
/* GREEN */
.pull-out.pull-out-green ,.pull-out.pull-out-green .pull-out-button {
  background-color:#9bce6c;
}
/* RED */
.pull-out.pull-out-red ,.pull-out.pull-out-red .pull-out-button {
  background-color:#fb4646;
}
/* MAGENTA */
.pull-out.pull-out-magenta ,.pull-out.pull-out-magenta .pull-out-button {
  background-color:#e166af;
}
/* CYAN */
.pull-out.pull-out-cyan ,.pull-out.pull-out-cyan .pull-out-button {
  background-color:#29c4ff;
}
/* TEAL */
.pull-out.pull-out-teal ,.pull-out.pull-out-teal .pull-out-button {
  background-color:#41b6b6;
}
/* ORANGE */
.pull-out.pull-out-orange ,.pull-out.pull-out-orange .pull-out-button {
  background-color:#f3b82e;
}
/* GREY */
.pull-out.pull-out-grey ,.pull-out.pull-out-grey .pull-out-button {
  background-color:#999;
}
/* PURPLE */
.pull-out.pull-out-purple ,.pull-out.pull-out-purple .pull-out-button {
  background-color:#9452A5;
}
/* LIGHT BLUE */
.pull-out.pull-out-lightblue ,.pull-out.pull-out-lightblue .pull-out-button {
  background-color:#c1dfdb;
}
/* BROWN */
.pull-out.pull-out-brown ,.pull-out.pull-out-brown .pull-out-button {
  background-color:#987654;
}