@charset "utf-8";
/* CSS Document */

/* Colors: 
		red: #e67b5a

		dark grey: #575758

		greenish grey: #e0e4cc

		light blue: #c1dfdb

		bright blue: #68c2d8

		dark blue: #6aaeba

		green: #9bce6c

		yellow: #d6a539
		
		light gray: #E9ECE9
		
		medium gray: #C1C4C2
		
		beige: #E3E6D5
 */


html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
		
}




/*************************/
/****** FONTS  **********/
/***********************/
@font-face {
    font-family: 'BebasRegular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('ArchitectsDaughter-webfont.eot');
    src: url('ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('ArchitectsDaughter-webfont.woff') format('woff'),
         url('ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'CabinRegular';
    src: url('Cabin-Regular-webfont.eot');
    src: url('Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Regular-webfont.woff') format('woff'),
         url('Cabin-Regular-webfont.ttf') format('truetype'),
         url('Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('Cabin-Italic-webfont.eot');
    src: url('Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Italic-webfont.woff') format('woff'),
         url('Cabin-Italic-webfont.ttf') format('truetype'),
         url('Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('Cabin-Medium-webfont.eot');
    src: url('Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Medium-webfont.woff') format('woff'),
         url('Cabin-Medium-webfont.ttf') format('truetype'),
         url('Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('Cabin-MediumItalic-webfont.eot');
    src: url('Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-MediumItalic-webfont.woff') format('woff'),
         url('Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('Cabin-SemiBold-webfont.eot');
    src: url('Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-SemiBold-webfont.woff') format('woff'),
         url('Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('Cabin-SemiBoldItalic-webfont.eot');
    src: url('Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('Cabin-Bold-webfont.eot');
    src: url('Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Bold-webfont.woff') format('woff'),
         url('Cabin-Bold-webfont.ttf') format('truetype'),
         url('Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('Cabin-BoldItalic-webfont.eot');
    src: url('Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-BoldItalic-webfont.woff') format('woff'),
         url('Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('Chunkfive-webfont.eot');
    src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('Chunkfive-webfont.woff') format('woff'),
         url('Chunkfive-webfont.ttf') format('truetype'),
         url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeoRetroDrawRegular';
    src: url('NEORD___-webfont.eot');
    src: url('NEORD___-webfont.eot?#iefix') format('embedded-opentype'),
         url('NEORD___-webfont.woff') format('woff'),
         url('NEORD___-webfont.ttf') format('truetype'),
         url('NEORD___-webfont.svg#NeoRetroDrawRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'JosefinSlabRegular';
    src: url('Museo_Slab_500-webfont.eot');
    src: url('Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo_Slab_500-webfont.woff') format('woff'),
         url('Museo_Slab_500-webfont.ttf') format('truetype'),
         url('Museo_Slab_500-webfont.svg#JosefinSlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'JosefinSlabRegular';
    src: url('JosefinSlab-Regular-webfont.eot');
    src: url('JosefinSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('JosefinSlab-Regular-webfont.woff') format('woff'),
         url('JosefinSlab-Regular-webfont.ttf') format('truetype'),
         url('JosefinSlab-Regular-webfont.svg#JosefinSlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*******************************/
/*******************************/
/*********** HEADER ************/
/******************************/
/******************************/

#header {
	min-width:970px; 
	color:#575758;
	background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/headerFooter.png);
}
.headerLogoContainer { 
	margin-top:15px;
}
#headerLogo {
	height:95px;
	cursor:pointer;
}
#headerLogoSignedOut {
	margin-top:15px;
}



/*************************/
/****** SEARCH **********/
/***********************/

/** Header Search Bar **/
input[name="search[keywords]"] {  
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
 	border: 0;
	height:30px;
	width: 200px;
	margin-bottom: 15px;
	font-size:15px;
}
.magGlassSearchButton { /* Contains search magGlassButton only */
	margin-bottom:15px; 
	float:right;
}
#searchDiv { /* Contains search textbox only */
	margin-top:40px; 
	float:right; 
	margin-right:5px;
}

/******************************************/
/****** LOGIN ROW (orgs and users) *******/
/****************************************/

/** USERS **/

#unreadMessagesCount { /* count of unread messages. Appears by user's username at the top */
	color:#e67b5a;
}

.loginContainer { float:right; } /* contains entire login/register/username/signout box */

#loginOrRegisterContainer { width:auto; padding-left:0px; margin-left:0px} /* only for "Login or Join" -> make room for orgLoginTab */

.login {background:#575758; padding:10px; color: white; font-family:'JosefinSlabRegular', Georgia, "Times New Roman", serif; text-align:right; font-size:1.2em; float:right; font-weight:600; width:auto} 

.login a:visited{color: white;}

.login a:active{color: white;}

.login a:link{color:white;}

.login a{color: white;}

.login a:hover {color:#c1dfdb;}

.login.unreadMessagesCount { color:#e67b5a; }

/** ORGS **/

#orgLogin {float:right; margin-right:20px; margin-bottom:-20px}

#orgLogin li {list-style:none; display:inline-block; text-align:center; font-family:Arial; margin-top:0px; color:white; float:right }

#orgLogin li a:visited{color: white;}

#orgLogin li a:active{color: white;}

#orgLogin li a:link{color:white;}

#orgLogin li a{color: white;}

#orgLogin li a:hover {color:#c1dfdb;}

#orgLogin li:hover ul{visibility:visible; display:block; opacity:.9; filter: alpha(opacity=90); transition:opacity 0.2s linear; -moz-transition:opacity 0.2s linear; -webkit-transition:opacity 0.2s linear; -o-transition:opacity 0.2s linear; z-index:5; }

#orgLogin li ul{position:absolute; top:35px;width:170px; text-align:center; visibility:hidden; opacity:0; font-size:1.2em; display:block; z-index:5; padding:0px; padding-bottom:10px;
 background-color:#c4826e; line-height:1.2em;}
#orgLogin li ul li{display:block; width: 100%; z-index: 5; font-size:1.0em;}



/******************************************/
/****** NAVIGATION ROWS + DROPDOWNS *******/
/******************************************/

/** ADMIN NAV DROPDOWN **/
#adminNav { width: 300px; text-align:center;margin-top:-36px;}

#adminNav li {width:300px; padding:5px; list-style:none; display:inline-block; text-align:center; font-family:Arial; background-color:#575758; width:auto; color:red; font-size:1.3em; margin:auto; float:center}

#adminNav li a:visited{color: white;}

#adminNav li a:active{color: white;}

#adminNav li a:link{color:white;}

#adminNav li a{color: white;}

#adminNav li a:hover {color:#c1dfdb;}

#adminNav li:hover ul{visibility:visible; z-index:5;}

#adminNav ul ul{position: absolute; display:block; opacity:.9; filter: alpha(opacity=90); right: 28%; top: 25px; visibility:hidden; font-size:.85em; display:block; z-index:5; padding:5px; padding-top:-5px; padding-bottom:10px;
 background-color:#575758; border-bottom:3px solid #575758; border-left:3px solid #575758; border-right:3px solid #575758; }

#adminNav li ul li{display:block; width: 100%; z-index: 5; font-size:1.0em;padding:5px}



/** UNIVERSAL NAVIGATION ROW + FIND A PROGRAM DROPDOWN **/
.container#globalNav {background-color:#575758;  -moz-box-shadow:    3px 3px 5px 6px #ccc; font-family:'JosefinSlabRegular', Georgia, "Times New Roman", serif; font-weight:600;
  -webkit-box-shadow: 0px 8px 5px 0px #ccc;
  box-shadow:         0px 8px 5px 0px #ccc;
}

#navBar {background:#575758; height: 45px;}

#navBar li {list-style:none; display:inline-block; text-align:center; width: 24%;  padding-top: 15px; font-size: 1.8em; font-weight:0}

#navBar #findProgramNav { height:50px; } /** To make sure drop-down doesn't disappear if mouse is less than 50px from top of "Find A Program" */

#navBar .findProgramDropDown { margin:auto; }

/* Drop down menu at different heights depending if org-login image is there (pushing everything down)*/
#navBar li ul#program_drop_down {position:absolute; top:165px;}

#navBar li a:visited{color: white;}

#navBar li a:active{color: white;}

#navBar li a:link{color:white;}

#navBar li a{color: white; margin-top:5px;}

#navBar li a:hover {color:#c1dfdb;}

#navBar li:hover ul{visibility:visible;display:block; opacity:.9; filter: alpha(opacity=90); transition:opacity 0.2s linear; -moz-transition:opacity 0.2s linear; -webkit-transition:opacity 0.2s linear; -o-transition:opacity 0.2s linear; z-index:5; }

#navBar li ul{ display:block; position:absolute; top:183px; width:220px; text-align:center; visibility:hidden;opacity:0; z-index:5; padding:5px; padding-top:0px; padding-bottom:10px; font-size:.85em;
 background-color:#575758; border-bottom:3px solid #575758; border-left:3px solid #575758; border-right:3px solid #575758; }

#navBar li ul li{display:block; width: 100%; z-index: 5; font-size:1.0em;}
#navBar li ul li a:hover{color:#c1dfdb;}

/**** END HEADER ****/





	

/*************************/
/****** BODY ************/
/***********************/
body {background:#E3E6D5;
font-family: Tahoma, Geneva, sans-serif;
font-size:13px;
color: #000000;
line-height:1.25em;
width:100%;
margin-left:0px;
margin-top:0px}

.container {min-width:970px; color:#575758}






/*******************************/
/*******************************/
/*********** FOOTER ***********/
/******************************/
/******************************/
	
	/** push -- for sticky footer **/
	.push {
		height: 246px;
	}
	
	/** pagewrap -- for sticky footer **/
	.pageWrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -246px; /* the bottom margin is the negative value of the footer's height */
	}
	* {
		margin: 0;
	}
	html, body {
		height: 100%;
	}
	
	/**FOOTER**/
	#footer {
		margin-top:75px; 
		min-width:970px; 
		color:#575758; 
		background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/headerFooter.png);
		margin-bottom:0px;
		height: 246px;
	}
	.footerNav {
		margin-top:20px; 
		line-height:1.5em; 
		margin-left:20px;
	}
	/*Left More on Us Links*/
	.moreOnUsTitle {
		margin-bottom:7px;
		margin-top:5px;
	}
	.footerMoreOnUsLinks {
		font-size:1.1em; 
		line-height:2em;
	}
	
	/*Center Spread Word and Social Icons*/
	.spreadWord {
		margin-top:30px;
	}
	.socialLinkFirst {
		margin-left:-5px;
	}
	.socialLink {
		margin-left:10px;
	}
	.socialLinkImage {
		height:35px;
		width:35px;
	}

	/* Donate Right Column */
	.fundCause {
		text-align:center;
		width:100%;
		font-size:2em;
		font-family:josefinSlabRegular;
		margin-top:20px;
		line-height:1.1em;
	}
	#donateButton {
		margin-top:20px;
		margin-bottom:20px;
	}

	/* Bottom Copyright*/
	.copyright {
		text-align:center; 
		margin-top:30px; 
		font-size:9px;
	}
	

footerNav h4, .ourCommunity h4 { font-family:'JosefinSlabRegular', Georgia, "Times New Roman", serif;}
.spreadWord li { list-style:none; display:inline;}
.spreadWord ul {margin-top:20px}
/*** END FOOTER ***/








/*********************/
/******ERRORS********/
/*******************/

.flash {
  text-align: center;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 1em;
  color: #e67b5a;
  border: 1px solid #575758; 
  font-family:architectsDaughterRegular;
}

.flash.error, .flash.alert {
    border: thin solid #e67b5a;
    background: #c1dfdb;
	line-height:2em;
}

.flash.notice, .flash.info {
    border: thin solid #e67b5a;
    background: #c1dfdb;
	line-height:2em;
}

.flash.warning {
    border: thin solid #e67b5a;
    background: #c1dfdb;
	line-height:2em;
}

.notice {
  background: #c1dfdb; 
}

.field_with_errors{
	background:none;
}

.field_with_errors input {
	border:2px solid #e67b5a;
}





/*************************************/
/***********MISCELANEOUS*************/
/***********************************/


article, aside, figure, footer, header, hgroup, menu, nav, section {
		display: block;
}

textarea { resize:none }

select{ padding-top:5px; padding-left:10px; -webkit-appearance: none}

h2 {font-family:'JosefinSlabRegular', Georgia, "Times New Roman", serif;}

h4 {font-family:'JosefinSlabRegular', Georgia, "Times New Roman", serif; font-size:24px;}

.shadowed{opacity:.8} /** FOR BUTTONS ONCLICK - OPAQUE (will not work in IE) */


/** All Links (most) **/
a:active{color:#575758}
a:visited{color:#575758}
a:link{color:#575758}
a:hover{color:white; background:none}

/** OTHER LINKS **/
.lightBlue {color: #62acbd;}
a.lightBlue:hover {color: #e67b5a;}
.orange {color: #e67b5a;}
a.orange:hover {color: #62acbd; }


/** POPUPS CLOSE IMAGE **/

a.close { float:right; margin:-20px -20px 0 0; height:30px; }
div.close_image { background:url(/assets/error.png) no-repeat; height:30px; width:30px; }
div.overflow { height:auto; max-height: 250px; overflow:auto; }


