<%= javascript_include_tag "/assets/jquery.js"%>
<style>
.editingTitle {
	font-size:3em; 
	line-height:2em; 
	margin-top:20px; 
	margin-bottom:20px; 
	text-align:center;
}
</style>
<p class="editingTitle">Editing organization</p>

<%= render 'form' %>

