<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.newOrgPageTitle {
	font-size:3em; 
	line-height:2em; 
	margin-top:20px; 
	margin-bottom:20px; 
	text-align:center;
}
#pleaseNoteBlurbContainer {
	float:center;
	margin:auto;
	margin-bottom:40px; 
}
.pleaseNoteBlurb {
	font-size:1.2em;
}

</style>

<p class="newOrgPageTitle">New organization</p>
<div align="center" class="eight columns" id="pleaseNoteBlurbContainer">
<p class="pleaseNoteBlurb">Please note that formatting will only appear in the big text boxes!!!</p>
</div>

<%= render 'form' %>

