<%= javascript_include_tag "/assets/jquery.js"%>
<p style="font-size:3em; line-height:2em; margin-top:20px; margin-bottom:20px; text-align:center">New organization</p>
<div align="center" class="eight columns" style="margin-bottom:40px; margin-left:225px; margin-right:225px">
<p style="font-size:1.2em;">Please note that formatting will only appear in the big text boxes!!!</p>
</div>

<%= render 'form' %>

