
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	
	<!-- Required CSS -->
	<link href="/assets/movingboxes.css" media="screen" rel="stylesheet">
	<link href="/assets/demo.css" media="screen" rel="stylesheet">
	<!--[if lt IE 9]>
	<link href="css/movingboxes-ie.css" rel="stylesheet" media="screen" />
	<![endif]-->

	<!-- Required script -->
<%= javascript_include_tag "/assets/jquery.js"%>
	<script src="/assets/jquery.movingboxes.js"></script>

	<!-- Demo only -->
	<script src="/assets/demo.js"></script>

</head>


<body>
	
	<div class="container">
	    <div class="row">

			<div style="height: 30px; float:right; margin-right:30px" class="three columns">
	            <ul class="tab">
					<div style="margin-top:71px; margin-right:150px">
					<li style="background-color: #C1C4C2; margin-top:-2px; border-top:1px solid #575758; border-right:1px solid #575758; border-left:1px solid #575758; height:18px; padding-left:30px;padding-right:30px; font-size:1.3em; text-align:center;"><a href="/organizations/<%= @organization.id%>">Profile</a></li></div>
					<div style="margin-top:-17px;margin-left:120px">
					<li style="background-color: #E9ECE9; border-top:1px solid #575758; border-right:1px solid #575758; border-left:1px solid #575758; height:20px; padding-left:20px;padding-right:20px; font-size:1.3em; text-align:center;"><a href="/organizations/<%= @organization.id%>/programs">Programs</a></li></div>
	            </ul>
	        </div>
	<div class="row" style="margin-top:100px; border:1px solid #575758; background-color:#E9ECE9; padding-bottom:200px;">

<div id="wrapper">


	
	<br><br /><br />


	<!-- Slider #2 (images of slider #1 reversed) -->
	<div id="slider-two" style="width:500px">


		<% @countries = Hash.new %>
		<% @organization.programs.each do |f| %>
		<% if !(@countries.has_key?(f.location))%>
		<% @countries[f.location] = 1%>
		<% else %>
		<% @countries[f.location] = @countries[f.location] + 1%>
		<% end %>
		<% end %>


		<% @countries.each_key do |f| %>
		<% if @countries[f] == 1%>
		<% @isAre = "is"%>
		<% @isProgram = "program"%>
		<% else %>
		<% @isAre = "are"%>
		<% @isProgram = "programs"%>
		<% end %>
		
		
		

		
	<br />
	<br />
	<br />

	

</div> <!-- end wrapper -->


</div>
</div>
</div>
</div>
</body>
</html>


<style type="text/css">



    .header
    {
        background-color: #4f7305;
        color: White;
    }
   
    ul.tab
    {
        list-style: none;
        margin: 0;
        padding: 0;
		float: right;
    }
    ul.tab li
    {
        display: inline;
        padding: 10px;
        color: #575758;
        cursor: pointer;
    }
</style>

