<p>Welcome to VolunteerVoice International, <%= @resource.username %>!</p>

<p>Please confirm your account email by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
