<%= javascript_include_tag "/assets/jquery.js"%>

<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="twelve columns" style="text-align:center">

		<%= image_tag "/assets/AlreadyReviewed.png"%>
		
		<p style="margin-top:50px;font-family:museoSlab500Regular; color:#9bce6c; font-size:2em; line-height:1.2em">You can adjust or delete your review from your User Profile.  Click on your Username at the top, and have at it.</p>
		 
		
<div style="text-align:center; margin-top:75px">		
<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/logo.png"), root_path, :onmousedown => "this.css('opacity', '0.8')", :onmouseup => "this.css('opacity', '1')"%>
</div>
</div>
</div>
</div>