<%= javascript_include_tag "/assets/jquery.js"%>


<style>
.dateWritten {
	color:#e67b5a; 
	font-size:1.1em; 
	line-height:1.5em;
}
.reviewTable {
	border:1px solid #e67b5a; 
	width:970px; 
	margin:auto; 
	background-color:#E9ECE9;
}
.reviewProgramLabel {
	margin-top:5px; 
	font-size:1.1em;
	color:#575758;
}
.reviewHeaderProgram {
	font-family:architectsDaughterRegular;
}
.programData {
	width:45%;
}
.tripWasData {
	width:30%;
}
.starData {
	width:24%;
}
.tripWasLabel {
	margin-top:5px; 
	font-size:1.1em;
}
.reviewStarContainer {
	width:150px;
}
.reviewBodyContainer {
	color:#575758;
}
a.review-window {
	font-style:italic;
}
.reviewPhotos, .reviewSignature {
	margin:0;
	padding:0;
}
.usernameContainer {
	margin-top:-10px; 
	text-align:right;
	margin-right:75px; 
}
.usernameLink {
	color:#62acbd; 
	font-family:architectsDaughterRegular;
}
.flagContainer {
	margin-top:-15px; 
	float:right;
}
tr, td {
	background-color:#E9ECE9;
}
.reviewPopupCloseButton {
	text-align:right;
}
.reviewPopupCloseImage {
	height:30px;
	width:30px;
	margin-right:-5px;
	margin-top:-19px;
}
.reviewPopupLabel {
	font-size:1.1em;
}
.reviewPopupProgram, .reviewPopupTimeFrame {
	font-family:architectsDaughterRegular; 
	font-size:1.1em;
}
.reviewPopupDateWritten {
	margin-top:-19px; 
	text-align:right;
}
.reviewPopupUsername {
	text-align:right; 
	font-family:architectsDaughterRegular; 
	color:#6aaeba; 
	margin-right:30px;
}
.reviewPopupPhotos {
	height:30px;
}
.reviewPopupFooter {
	border-top:1px solid #575758;
}
.reviewPopupStarLabel {
	text-align:left;
}
.reviewPopupStarContainer { 
	margin-top:-15px;
	width:95px;
	max-width:95px;
}
.reviewPopupStar {
	width:90px;
	max-width:90px;
	text-align:center;
}
</style>

<div class="container">
	<div class="row">
		<div class="twelve_columns">
			<% @reviews.each do |review| %>
				<%= render :partial => "result", :locals => {:f => review}%>
			<% end %>
		</div>
	</div>
</div>








