<a href="#" class="close">
	<div class="close_image"></div>
</a>

<p class="popupQMarkTitle"><u>Help! Write A Review Form</u></p>
<br /><br />
<div class="overflow">
	<p class="bigTitle">1. Select a Company</p><br />


	<p class="bigQuestion"><u>Q:</u> How does this box work?</p>
	<div class="answerContainer">
		<li>This is a smart-filter box, so as you type in the name of the Volunteer Organization that you worked for, it will filter the names for you. </li>
		<li>Once you see the name of the Organization you are looking for, click on that name in the list to fill this box.</li>
		<li>This box only works if you SPELL correctly! So make sure to check your spelling. If you spell the name of your organization incorrectly, it will not show up in the list.</li>
		<li>This box is required information, and you cannot submit your form unless it is completed.</li>
	</div>


	<p class="bigQuestion"><u>Q:</u> What if I enter the correct name of my Organization and it's not listed?</p>
	<div class="answerContainer">
		<li>If the organization that you volunteered with is not registered on the site, then you need to select the "Review a New Company" option located below the smart-list in order to submit your review. </li>
		<li>Clicking the "Review a New Company" option will bring you to another window where you can type in the name of the organization that you worked with. (Again, please check your spelling so that we can easily find this company and make a profile for them).</li>
	</div>



	<p class="bigQuestion"><u>Q:</u> I accidentally clicked on the wrong Organization, how do I change the name?</p>
	<div class="answerContainer">
		<li>Just click and delete the Organization name to clear the box and start over. You can do this at any point while writing your review.</li>

	</div>


	<p class="bigQuestion"><u>Q:</u> I clicked "Review A New Organization" without meaning to. How do I return to the original page?</p>
	<div class="answerContainer">
		<li>Click the "Cancel" text-link at the bottom, right of the second box to return to the original page.</li>

	</div>


	<p class="bigQuestion"><u>Q:</u> I want to review an organization I worked with, but am not totally sure of the name or if I am spelling it correctly.  What should I do?</p>
	<div class="answerContainer">
		<li>If you are unsure of the name of the organization that you worked with, you can click the "Show All Companies" text-link below the "Review New Organization" link and a pop-up will appear listing all the countries. From there you can find the organization you are thinking of, and proceed to type it in the smart-filter box. </li>
		<li>This form will not save any information that you write on it, so don't write out your long, detailed review until you're going to submit it. Or, save that written information in a safe place on your own computer or email account.</li>
	</div>




	<br /><p class="bigTitle">2. How long did you work with them?</p><br />


	<p class="bigQuestion"><u>Q:</u> How does this box work?</p>
	<div class="answerContainer">
		<li>Click the arrow on the right-hand side of this box to view the possible time-periods. Click to select whichever time period best describes the length of your trip in that country, and specifically the time period that best describes how long you spent working with an organization. </li>
		<li><u>Example:</u> If you traveled in China for 1 year but only worked with an organization for three months, then please select the time category for "three months" time.</li>

	</div>

	<p class="bigQuestion"><u>Q:</u> Are these the only time periods to choose from? Do I have to select one of these?</p>
	<div class="answerContainer">
		<li>Yes, and yes. This is the most simple, accurate way to collect this information.</li>
	</div>

	<p class="bigQuestion"><u>Q:</u> Why do I have to say how long I worked with the organization?</p>
	<div class="answerContainer">
		<li>We want to encourage authenticity and accuracy in the reviews on this site. The point of writing these reviews is to help prospective volunteers research and decide on organizations to volunteer with, so the authenticity of these reviews is important. </li>
		<li>This is very useful information to have for prospective volunteers. Someone looking to volunteer for six months will likely want to pay the most attention to reviews from people that volunteered for the same time period.  Someone looking to volunteer for two weeks will similarly want to pay attention to the reviews from people in that same period.</li>

	</div>




	<br /><p class="bigTitle">3. Which Programs?</p><br />


	<p class="bigQuestion"><u>Q:</u> How does this box work?</p>
	<div class="answerContainer">
		<li>This box automatically updates with available options, one you have selected which organization you are going to be reviewing. </li>
		<li>Cilick the arrow on the right side of this box to activate the list of programs. Select the program name that best described what you did and where. This list is composed of all of the CURRENT programs that an organization offers. If your program is not there, and you volunteered with them a while ago, then unfortunately you won't be able to write a review. This feature is designed to keep all reviews about organizations up to date and relevant.</li>
	</div>

	<p class="bigQuestion"><u>Q:</u> I don't see the program that I did. What do I do?</p>
	<div class="answerContainer">
		<li>If your program is not there and you volunteered with the organization over a year ago, then it is likely that the program you participated in is no longer offered, and you won't be able to review it. This feature is designed to keep all reviews about organizations up to date and relevant.</li>
		<li>If your program is not there and you volunteered within the last year, then we might have messed up! Please contact us and let us know your organization and program names, and we will get back to you about whether that program is no longer offered, or if we made the humongous mistake of leaving it out.</li>

	</div>

	<p class="bigQuestion"><u>Q:</u> Why can't I review a program that is no longer offered?</p>
	<div class="answerContainer">
		<li>A central component of this site's value is founded in the idea of "information". But not just any information, a lot of accurate, organized, relevant, helpful information from multiple sources. Reviews are a form of this information, and it's very important that we keep reviews as accurate, relevant and helpful as possible - which <em>means</em>, not letting reviews for out-of-commission or unconfirmed programs affect the profile of a volunteer organization. </li>
		<li>We would still love to hear your story, and there are other ways to share. WE are currently in the midst of developing a User blog post/travel essay system. Drop us a line, send us a write up, or pester us with complaints about your stifled review. Whatever suits your fancy. There are plenty of ways to share your voice.</li>
	</div>

	<p class="bigQuestion"><u>Q:</u>Why do I have to specify which program I did?</p>
	<div class="answerContainer">
		<li>So many reasons! First of all, to make sure that you're reviewing a presently operating program and to keep the site information relevant.</li>
		<li>Second of all, to be useful to other users who are checking out your review and looking up organizations.  Reading reviews about organizations themselves could be helpful in many ways, but an organization's programs can vary a lot in their quality and scope for different reasons. Being specific helps users in finding their ideal program.</li>

	</div>





	<br /><p class="bigTitle">4. Your Review</p><br />


	<p class="bigQuestion"><u>Q:</u> How does this box work?</p>
	<div class="answerContainer">
		<li>Simply click in teh box and start typing. THis is the most important part of your review -- where you get to speak your mind! Please include here all the information and details that you care to. The more that you share, the more that you help.</li>
		<li>There is a minimum of 200 characters in this box, a requirement that must be met in order to submit your review to the site.</li>

	</div>

	<p class="bigQuestion"><u>Q:</u> Why is there a minimum of 200 characters?</p>
	<div class="answerContainer">
		<li>The character minimum is designed to encourage users to share at LEAST one or two sentences of detail about their experience.  Again, we are just trying to encourage accuracy, authenticity, and helpful information flow. You don't have to write a whole essay, but hopefully you can think of at least a few sentences to describe your volunteer experience!</li>

	</div>

	<p class="bigQuestion"><u>Q:</u> I can't type anymore characters into the text box. What's going on?</p>
	<div class="answerContainer">
		<li>This box does have a maximum of 10,000 characters, so you've reached the limit. We're so happy that you have so much to say about your experience! But for the sake of space, try to figure out a way to say everything that you want to in 10,000 characters. Thank you! </li>

	</div>





	<br /><p class="bigTitle">5. I have volunteered with this company before</p><br />


	<p class="bigQuestion"><u>Q:</u> How does this check box work?</p>
	<div class="answerContainer">
		<li>Simply click the box to the left of this statement to fill the box with your check of affirmation.</li>
		<li>Checking this box is required to submit your review to the site.</li>

	</div>

	<p class="bigQuestion"><u>Q:</u> What's the point of this?'</p>
	<div class="answerContainer">
		<li>Authenticity! And to filter out dishonest reviews or spammers. We just want reviewers to own and confirm this statement to try and keep the reviews on this site as real as possible. </li>

	</div>





	<br /><p class="bigTitle">6. I have read and accept the Terms of Use</p><br />


	<p class="bigQuestion"><u>Q:</u> How does this check box work?</p>
	<div class="answerContainer">
		<li>Simply click the box to the left of this statement to fill the box with your check of affirmation. </li>
		<li>Checking this box is required to submit your review to the site.</li>

	</div>

	<p class="bigQuestion"><u>Q:</u> What's the point of this?</p>
	<div class="answerContainer">
		<li>By clicking this box you are agreeing to abide by the rules/responsibilities laid out in our "Terms of Use". Basically, you are agreeing to be honest and responsible for what you say here, and not to write lewd or fake reviews for organizations, ESPECIALLY if you didn't actually volunteer with them. Again, just trying to keep it real. </li>

	</div>




	<br /><p class="bigTitle">7. Upload a Photo</p><br />


	<p class="bigQuestion"><u>Q:</u> How does this work?</p>
	<div class="answerContainer">
		<li>Click the "Upload" button. This will trigger a pop-up that allows you to browse your computer for image files. Click the image file you want to upload, make sure that the correct file name is highlighted, and then click "Select".
			<li class="note">NOTE: You can only upload photos that are located on your computer.</li> </li>
			<li>Clicking "Select" will enter the image file name into the "Upload" box. And you're done!</li>

		</div>

		<p class="bigQuestion"><u>Q:</u> I'm trying to upload a photo and it's not working. What's going on?</p>
		<div class="answerContainer">
			<li>Either the photo is not saved in the correct format (.jpg, .jpeg, .png, or .gif) or our upload application is malfunctioning. Send us the image you are trying to upload, and a description of what happens in your attempt to upload it to:help@volunteervoice.org, and we will figure out the problem.</li>
			<li>We currently only have space for one photo per review, though we are looking to expand that number very soon. If you've already uploaded a photo, you can't upload another because we haven't built the space for it. Yet!</li>
		</div>

		<p class="bigQuestion"><u>Q:</u> Do I have to upload a photo?</p>
		<div class="answerContainer">
			<li>Nope. This is the only part of the review form that is optional. You do not need to upload a photo in order to submit your review. </li>
		</div>

		<p class="bigQuestion"><u>Q:</u> I uploaded a photo that I didn't mean to/don't want anymore. Can I remove it?</p>
		<div class="answerContainer">
			<li>Yes, just click the "remove" link to the right of the name of the image.</li>
			<li>Please note that you cannot upload new photos after submitting your review, so make sure to get the most important and helpful one on here before you submit your review.</li>
		</div>

		<p class="bigQuestion"><u>Q:</u> Can I upload photos of anything I want?!</p>
		<div class="answerContainer">
			<li>No! Please don't upload photos of you and your friends from home hanging out...at home. These photos are targeted at helping give users an idea about your VOLUNTEER TRIP, so please stick to photos that were taken on your trip.</li>
			<li>Pictures of you and other volunteers, or your sleeping quarters, or your host family, or anything on your trip is a great idea. Markets, busses, food, anything in the "volunteer trip" category is perfect.</li>
			<li><u>NOTE:</u> Please bear in mind that inappropriate or non-trip related photos may cause your review to be "flagged" by other Users, and result in the removal of your review. So choose your photos wisely!</li>

		</div>





		<br /><p class="bigTitle">8. Star-rating</p><br />


		<p class="bigQuestion"><u>Q:</u> How does this work?</p>
		<div class="answerContainer">
			<li>Just use your mouse to click and fill in the stars for whatever rating you see fit. </li>
			<li>At least 1/2 star is required for each category in order to submit your review to the site.</li>
		</div>

		<p class="bigQuestion"><u>Q:</u> What do the different star ratings mean?</p>
		<div class="answerContainer">
			<li>There is no exact chart, but basically:
				<li class="note">1/2 star = Bad. Worst rating possible.</li>
				<li class="note">2 and 1/2 star = Mediocre. Some good parts, some disappointing parts.</li>
				<li class="note">5 star = Awesome. Best company ever. High standards. Great experience.</li>
			</li>
		</div>

		<p class="bigQuestion"><u>Q:</u> Can I give a zero-star review if I had a horrible time?</p>
		<div class="answerContainer">
			<li>Sorry, but at least 1/2 star is required, and will get your point across. </li>
			<li><u>NOTE:</u> Please try and remember that you are rating the COMPANY, and your experience with that company. If you hated the country's food and customs, try not to let that weigh in too much. If your organization didn't prepare you at all for the local culture, then certainly let it weigh in.</li>
		</div>

		<p class="bigQuestion"><u>Q:</u> I selected a star rating I didn't mean to. Can I change it?</p>
		<div class="answerContainer">
			<li>Yes, you can change the star rating at any point in your review. Just click the stars.</li>

		</div>




		<br /><p class="bigTitle">9. Submit</p><br />


		<p class="bigQuestion"><u>Q:</u> Where is the submit button?</p>
		<div class="answerContainer">
			<li>If you do not see the submit button, it is because some part of the form has not been completed. The only way to submit a review is to complete ALL FIELDS (except for uploading photos, that is optional). </li>
			<li>Common mistakes to check for:
				<li class="bigNote">SELECT A COMPANY: Make sure that you clicked the name from the list that appears below this box or entered the name exactly as it appeared. If you did this correctly, the name will become bolded. If not, the box becomes blank. So double check that there is an bolded name inside the "Select a Company" box.</li>
				<li class="bigNote">REVIEW A NEW COMPANY: If you selected "Review A New Company", make sure that you entered the organization's name into the box on the right.  If you don't enter a name in this box, the form will be considered incomplete.</li>
				<li class="bigNote">CHECKBOXES: Make sure that you have clicked and affirmed both of the checkboxes below the written review section. Both boxes deed to be "checked" or the form will be considered incomplete</li>
			</li>
		</div>


</div><!--end row four-->
