<a href="#" class="close"><div class="close_image"></div></a>
<br />
<div class="overflow">
<p class="bigTitle">1. Description of Volunteervoice Services and User Acceptance</p>
<ul class="circle">
<li>Thanks for visiting VolunteerVoice! VolunteerVoice ("VolunteerVoice", "we", "our", or "us") is a volunteer review site that doubles as both a place for experienced volunteers to share their stories, and a place for prospective volunteers to research organizations and prepare for their trips abroad.  A lot of information from a lot of different sources passes through this site, and this Terms of Use is designed to help you better understand how we use our information, and what you as a User agree to when accessing it.  If you use this site and any function, information, service, plugin, or otherwise sourced from VolunteerVoice, you are agreeing to these Terms of Use.</li><br /> 
<li>As an organization, we reserve the right to change, modify, or update these terms at our discretion.  If these terms are changed,  you will find that most updated version of the Terms of Use posted here, and can note the most recent update date above.  Any changes to these Terms of Use will become effective immediately upon posting.</li><br /> 
<li>These Terms of Use and your use of the site will be and are governed by and in accordance with the laws of the State of California, without resort to its conflict of law provisions.    You thus irrevocably and unconditionally consent to submit to these Terms, and the State of California’s Law.  We as an organization may freely transfer or delegate our own rights and duties under these Terms.  If any of our Terms is illegal or invalid, the remaining provisions and Terms will persist in full effect.    In the event that any of these Terms is in fact determined as illegal or insubstantial,  the Terms shall be negotiated among VolunteerVoice parties and redrafted to an acceptable and legal form. </li><br /> 
</ul>
<br /> 
<p class="bigTitle">2. Site Content</p>
<ul class="circle">
	<li>
The VolunteerVoice site contains a lot of information from a lot of different sources (volunteer organization websites, blog sites, users).  All of our information posting adheres to the legal parameters of utilizing outside content. </li> <br /> 
<li>While we as an organization will do our best to develop and deliver our services in an uninterrupted manner, VolunteerVoice reserves the right to alter, terminate, or modify any and all site content and services at any time.</li><br /> 
<li>Information on Volunteer Organizations: 
	<ul class="circle">
<li>All of the information that we obtain and post about volunteer organizations is public information, and mostly information that we have obtained directly from the companies themselves.</li>
<li>We provide links to each organization’s sites so that users can explore the sites themselves and confirm that our information is correct.</li>
</ul>
</li><br /> 
<li>Information from Outside Site/Blog Sites:
	<ul class="circle">
		<li>  
We do not post full blog articles in our resources section, but rather post only a small amount of words and direct users to those sites to get the full articles.  We want our users to explore the sites that we link to in our resources section, since we believe that any site we use is an excellent source of information and well-worth exploring.  We do not take credit for any of the content that we post from these sites, which is why we only post partial content and direct you to the articles themselves on outside sides.</li>
	</ul>
</li><br /> 
<li>
User Posted Content
<ul class="circle">
	<li>
While VolunteerVoice is not wholly responsible for the content that users post, we do accept responsibility for monitoring and keeping track of user content.  One of our many jobs is to ensure that Users adhere to User Content Parameters and Appropriate Posting Rules (Refer to Section 4 of this document).  Should you as a user or organization find an instance where users are not adhering to site posting parameters, please flag said content and bring it to our attention, so that we may regulate the content accordingly.</li>
<li>If you post content on this site in the form of reviews or comments, you are asserting that the information you have included is updated, accurate, and true, and does not infringe upon the right of any other party.  You agree not to post content that is lewd or inappropriate, or content that is not somehow related to VolunteerVoice site and services (for example, do not write a comment on a review asking the reviewer about personal information that does not have to do with volunteering/travel).</li>
<li>As the writer of content on this site, you own and may reprint, modify, eliminate, and distribute freely your own posted content.  By posting a review/comment on our site, unless indicated otherwise, you also grant VolunteerVoice a non-exclusive, full right to use, reproduce, modify, publish, translate, and distribute that information through any media.</li>
</ul>
</li><br /> 

<li>Any detected breach of the following agreements may result in the suspension or termination of your account.</li><br /> 
<li>As a User, you agree that you will not use this site to threaten, stalk, harass, or interfere with other site users, or the volunteer organizations themselves.</li> <br />  
<li>Age Appropriateness
	<ul class="circle">
<li>Users cannot register with this site unless they are a MINIMUM AGE OF 13 YEARS OLD.  This regulation is designed to maintain an audience that is age-appropriate for the content posted on our site, and maintain a certain level of authenticity for volunteer reviews.  If you are below 13 years of age and have an international volunteer experience that you want to share, you may have a parent register with the site and dually share the experience, or you can contact us at:  help@volunteervoice.org to further address the issue.</li>
</ul>
</li><br /> 
<li>
Unregistered Users:
<ul class="circle">
	<li>
As an unregistered user on our site, you having full viewing access to all volunteer organizations profiles, reviews, comments, and resources.  </li>
</ul>
</li><br /> 
<li>Registered Users
	<ul class="circle">
		<li>
In order to fully interact with our site, users are required to create an account and submit personal information about themselves.  Through registering on our site, you are warranting that you are of an appropriate age to access site content (at least 13 years of age), all of your account information is true and accurate, you accept responsibility for any content that you may post on our site.</li>
</ul>
</li><br /> 

<li>
Writing Reviews
<ul class="circle">
	<li>
User reviews are a central component of our site, and we are dedicated to maintaining as high a level of authenticity for reviews that we can.  Users are required to fill out all portions of the “Write A Review” form, including certain details of their trip abroad.  </li>
<li>By submitting a review, users are warranting that they have in fact worked with that particular volunteer organization, for the selected period of time, in the selected country.  Users may NOT submit reviews unless binding themselves to these agreements and confirming that they have worked with the organization that they are reviewing by clicking the “I have worked with this organization” checkbox on the review form.</li>
<li>Users must understand that they are submitting content about valid volunteer organizations, and that others will be reading these reviews as a source of valuable information.  Negative reviews or organizations are inevitable and are an important source of information sharing, but any heinous or destructive reviews will be removed immediately upon being detected, if they are in violation of User Content Parameters and Posting Rules (Refer to section 4 of this document).  We want you to share your honest experiences here and we want to feature them, but if you as a user write ANY content that could potentially endanger particular members of an organization, or post any inappropriate, hateful, or racist content that infringes upon the rights of others, your review will be promptly removed and your account highly monitored, and up for REMOVAL.  </li>
<li>User Content Parameters, Appropriate Posting Rules, and Responsibilities</li>
</ul>
</li><br /> 
<li>We reserve to right to remove User posted content at any time should we or another source find that the User has violated the following site behavior parameters and responsibilities.</li><br /> 
<li>As a registered user, you are solely responsible for the content that you post, and VolunteerVoice cannot be held liable for that content (though we reserve the right to monitor and regulate that content freely).  You assume all risks associated with posting that content, which will vary depending on your level of anonymity.  You have full permission and ability through our side to not use any personally-identifiable information in your username or account that is visible to others, so that you may speak freely.  Speaking freely and sharing your opinions must still be done within the appropriate content posting parameters, or your risk content and account removal.</li><br /> 
<li>Submitting a Review
	<ul class="circle">
		<li>
Users writing and submitting a review take responsibility for and agree to the fact that all of the information included on that review is accurate and true. Users agree that they will only review organizations that they have formally worked with, and CANNOT write reviews based on brief or significant interactions with a member representing the organization.  Again, YOU MAY NOT REVIEW AN ORGANIZATION IF YOU HAVE NOT DIRECTLY VOLUNTEERED WITH THEM.  ANY FALSE OR MISLEADING REVIEWS THAT ARE DISCOVERED WILL BE PROMPTLY REMOVED.</li>
<li>Users agree to use appropriate, responsible language when writing reviews.  Users may not write any content that violates the personal rights of others, or that is hateful or inappropriate in language.  Content that is found by us or by another user to violate the rights and privacy of others will be promptly removed.  The User will be notified, and their profile will be highly monitored.</li>
</ul>
</li><br /> 
<li>
Posting Comments
<ul class="circle">
	<li>
Users agree to a responsible, appropriate code of conduct when posting comments.</li>
<li>Users agree to use appropriate, responsible language when writing reviews.  Users may not write any content that violates the personal rights of others, or that is hateful or inappropriate in language.  Content that is found by us or by another user to violate the rights and privacy of others will be promptly removed.  The User will be notified, and their profile will be highly monitored.</li>
</ul>
</li><br /> 
<li>
Sending Messages
<ul class="circle">
	<li>
The VolunteerVoice messaging system is designed to allow Users to connect with one another based on shared experiences or volunteer and travel questions.  Users have a choice about whether this messaging system is enable on their account, and may choose NOT to allow other Users to message them.  This is your right as a registered User.</li>
<li>
Users engaging in the messaging system agree to use appropriate, responsible language when writing reviews.  Users may not write any content that violates the personal rights of others, or that is hateful or inappropriate in language.  Content that is found by us or by another user to violate the rights and privacy of others will be promptly removed.  The User will be notified, and their profile will be highly monitored.</li>
<li>If you as a User find that the messaging system is being abused by a User in some way, please contact us with that user’s information at:  <%= mail_to "help@volunteervoice.org" %></li>
<li>By registering with VolunteerVoice and submitting a valid email, you are agreeing to allow VolunteerVoice to periodically reach out and communicate with you via email messages regarding the site.  By having an active messaging system you are also agreeing the VolunteerVoice may use this messaging system to communicate with you when it sees fit.</li>
</ul>
</li><br /> 
<li>
Using/Posting Our Site Content on other Sources
<ul class="circle">
	<li>
The company profiles, reviews and comments posted on VolunteerVoice are the sole, protected property of this site and may NOT be copied and used without notice.  </li>
<li>If you are a volunteer organization, other website, or other media source, and would like to feature one of our reviews to the benefit of your cause, you must CONTACT US and license that information for use.  If you are already in contact with the Site CEO, you may contact her directly to make the request.  If you do not have that information then you may contact us at the following email address:   <%= mail_to "organization@volunteervoice.org" %> </li>
</ul>
</li><br /> 
</ul>
<br /> 
<p class="bigTitle">3. Spam/Viruses/Unsolicited Communications</p>
<ul class="circle">
<li>
No one may post lewd, pornographic, or inappropriate images and or other content on this site.  No one may use this site to post spam, advertisements, chain letters, junk email, surveys, or other mass messages of any kind, whether affiliated with an organization or otherwise.  No one may use this site to start, spread, or regulate any kind of computer virus.</li><br /> 
<li>You understand that we may take any action necessary to remove or prevent any of the above listed activities or related activities from occurring on our website.</li><br /> 
</ul>
<br />
<p class="bigTitle">4. Data Authenticity</p>
<ul class="circle">
	<li>
VolunteerVoice is all about honest information exchange, and we circulate a lot of information on this site, from many resources.  We as an organization will always move to ensure the authenticity and accuracy of the information that we post here, especially in reference to the profiles that we maintain for volunteer organizations.  We retrieve the vast majority of our information from public resources, and as such that is the limit of or knowledge.  We always welcome users and organizations to assist us in maintaining and ensuring the accuracy of our information by providing us with concrete alternative resources and contacting us directly.</li><br /> 
</ul>
<br />
<p class="bigTitle">5. Data Security</p>
<ul class="circle">
	<li>
We are dedicated to keeping your User data safe and secure, and as such have taken appropriate electronic and infrastructural measures to safeguard our information as an organization, and your information as a user.</li><br /> 
</ul>
<br />
<p class="bigTitle">6. Disclaimer of Warranties, Limitation of Liabilities and Indemnity</p>
<ul class="circle">
	<li>

ALL USERS AND VISITORS UNDERSTAND THAT THEY USE VOLUNTEERVOICE SITE AND SERVICES AT THEIR OWN RISK. USERS ACCEPT THE SITE AND ITS FUNCTIONS ON AN “AS IS” BASIS  WITHOUT ANY WARRANTIES, REPRESENTATIONS, OR CONDITIONS OF ANY KIND.  WE MAKE NO GUARANTEE THAT VOLUNTEERVOICE SERVICES WILL FUNCTION FREE FROM INTERRUPTION, DAMAGE, VIRUSES, OR HARMFUL COMPONENTS OF ANY KIND.  WHILE WE MAY TAKE VARIOUS SECURITY MEASURES IN REGARD TO OUR SITE, WE DO NOT GUARANTEE THAT ANY SITE, SERVICE, OR CONTENT ACCESSED THROUGH OR RELATED TO OUR SITE IS FREE FROM VIRUSES OR OTHER HARMFUL CONTENT OR COMPONENTS.  WE MAKE NO GUARANTEES, WARRANTIES, OR REPRESENTATIONS ABOUT THE SECURITY OF OUR SITE AND ITS SERVICES. IN NO EVENT SHALL VOLUNTEERVOICE, ITS AFFILIATES, INVESTORS, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, OR SUPPLIERS BE LIABLE FOR ANY DAMAGES, PAYMENTS, DEFICIENCIES, FINES, JUDGEMENTS,  OR LOSS OF PROFITS ARISING OUT OF OR IN CONNECTION WITH THE SITE AND ANY SERVICE INCLUDED  OR MADE AVAILABLE ON OR THROUGH THE SITE, WHETHER THE DAMAGES ARE DIRECT, INDIRECT, PUNITIVE, INCIDENTAL,  EXEMPLARY, CONSEQUENTIAL, OR SPECIAL, AND REGARDLESS OF THE FORM OF ACTION (WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE), EVEN IF VOLUNTEERVOICE HAS BEEN ADVISED ON THE POSSIBLITY OF DAMAGES AND IS AWARE OF THAT POSSIBLITY. THIS INCLUDES INFORMATION, ADVERTISEMENTS, PRODUCTS, OR SERVICES THAT ARE ADVERTISED ON, OBTAINED IN, OR PROVIDED THROUGH SITES RELATED TO,  ACCESSED THROUGH, OR BY VOLUNTEERVOICE.  YOU ACKNOWLEDGE AND AGREE BY USING THE SITE THAT YOU HAVE RELIED UPON NO GUARANTEES OR WARRANTIES WITH REGARDS TO ANY ASPECT OF THIS SITE. YOU AGREE HERE TO THE INDEMNIFICATION AND DEFENSE OF VOLUNTEERVOICE AND ITS AFFILIATES AGAINST ANY AND ALL LIABILITIES, CLAIMS, EXPENSES, DAMAGES, OR ANY OTHER LOSSES THAT MAY BE IN ANY WAY RELATED TO AN ALLEGED BREACH OF VOLUNTEERVOICE’S SERVICES OR USE.  THESE TERMS OPERATE TO THE FULLEST EXTENT PERMISSIBLE BY CALIFORNIA LAW.</li><br /> 
</ul>
<br />
<p class="bigTitle">7. Changes in Policy</p>
<ul class="circle">
	<li>VolunteerVoice reserves the right to alter, change, or modify any part of these Terms of Use at any time.  Any policy changes made will be enforced upon being posted.  </li><br /> 
</ul>
<br />

<p class="bigTitle">8. Termination</p>
<ul class="circle">
	<li>
We reserve the right to terminate User access to the site without notice or liability to the User, under these Terms, and to prevent or block User access in the event that VolunteerVoice finds it necessary or appropriate in any way.
</li><br /> 
</ul>
<p class="bigTitle">9. Collection of User Information</p>
<ul class="circle">
	<li>
For more details on the collection of user information, refer to our <%= link_to "Privacy Policy", "/pages/privacy", :style => "color:#68c2d8"%>.</li><br /> 
</ul>
<br />
<p class="bigTitle">10. Making Claims of Copyright Infringement and Reporting Violations</p>
<ul class="circle">
	<li>
If you believe any content or service on this site infringes upon a copyright that you are in control of, you may file a notification of infringement and send it to the following address:
	<br /><br />
	VolunteerVoice <br />
	P.O. Box 10726<br />
	Oakland, CA 94610<br /></li><br /> 

<li>	
To be effective, the notice must be written and contain the following information:  (a) the physical or electron signature of an individual authorized to act on behalf of the owner of the copyright; (b) an accurate description of the copyrighted work that you believe has been infringed; (c) a description of the location of that material on the VolunteerVoice website that allows us to locate and identify the item of which you speak; (d) a written statement about your claim that the use on our site is not authorized by the copyright owner, its agent, or the law; (e) a statement by you, made under penalty of perjury, that the information included in your notice is accurate and that you are either the owner of the copyright or legally authorized to act on behalf of the copyright owner; (f) your contact information.</li><br /> 
<li>
If you believe that some aspect of these Terms of Use violates your legal rights or the rights of your organization, please contact us at: <%= mail_to "help@volunteervoice.org" %>
</li><br /> 
</ul>
<br />
<br />

Thank you for taking the time to read our Terms, and for visiting VolunteerVoice!


</div>
