<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.top {
	text-align:center; 
	margin-top:50px;
}
.blurb {
	margin-top:50px;
	font-family:architectsDaughterRegular; 
	color:#575758; 
	font-size:1.5em; 
	line-height:1.5em;
}

a.here:active{color:#68c2d8}
a.here:visited{color:#68c2d8}
a.here:link{color:#68c2d8}
a.here:hover{color:#9bce6c}

.submitContainer {
	text-align:center; 
	margin-top:75px;
}
</style>

<div class="container">
	<div class="row">
		<div class="twelve columns top">

		<%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/thanksForRegistering.png"%>
		
		<p class="blurb">Please check your email for a confirmation message. After clicking the link provided in the email, you will be able to login and start your VolunteerVoice journey! If you did not receive an email after 10 minutes, please click <a href="/confirmations/new" class="here">here</a> to resend the link. </p>
		
		
<div class="submitContainer">		
<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/logo.png"), root_path, :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%>
</div>
</div>
</div>
</div>
